.nv-mobile-menu-wrapper {
  width: 40%;
  height: 100%;
  position: fixed;
  margin-left: auto;
  background: #e9e9f0;
  top: 48px;
  right: -4px;
  transform: translateX(100%);
  transition: all 0.45s cubic-bezier(0.3, 0, 0.15, 1);
  z-index: 8000;
  height: inherit;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &.is-active {
    transform: translateX(0);
  }
}
.list-wrapper {
  background: #e9e9f0;
  width: 100%;
  height: 100%;
  &:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: all 0.45s cubic-bezier(0.3, 0, 0.15, 1);
    &.is-active {
      transform: translateX(0);
    }
  }
}
.nv-mobile-menu,
.nv-mobile-sub-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  &__item {
    color: #5f7285;
    padding: 14px 16px;
    font-size: 17px;
    display: block;
    text-align: left;
    &:hover {
      background-color: #ddd;
      color: black;
    }
  }
  &__link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
  }
  &__back {
    margin: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 17px;
    color: black;
  }
  &__back-icon {
    margin: 0 10px 0 0;
  }
}

.js--overlay {
  -webkit-transition: opacity 0.45s cubic-bezier(0.3, 0, 0.15, 1),
    visibility 0.45s linear;
  transition: opacity 0.45s cubic-bezier(0.3, 0, 0.15, 1),
    visibility 0.45s linear;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  opacity: 0.01;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5000;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.is--open {
  visibility: visible;
}
