.App {
  text-align: center;
}
.nv-container {
  margin: auto;
  margin-top: 50px;
  background-color: #555;
  color: white;
  position: relative;
  width: 100%;
  height: 500px;
}
.nv-header {
  overflow: hidden;
  background-color: #333;
  background-color: #04aa6d;
  display: flex;
  &__logo {
    background-color: #04aa6d;
    color: white;
    padding: 14px 0px 14px 14px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    margin-right: auto;
    @media screen and (min-width: 768px) {
      margin-right: 10px;
    }
  }
  &__icon {
    background: black;
    color: white;
    padding: 14px 14px 14px 14px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: none;
    align-items: center;
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
  &__menu-item {
    margin-right: 15px;
  }
  &__menu-item:hover > &__sub-menu {
    display: block;
  }
  &__menu-link {
    text-decoration: none;
  }

  //sub-menu
  &__sub-menu {
    width: 10em;
    display: none;
    list-style-type: none;
    position: absolute;
    padding-inline-start: 0;
    background-color: #fff;
  }
  &__sub-menu-item {
    top: 48px;
    margin: 0;
    padding: 10px;
    align-items: center;
    border: solid gainsboro 0.5px;
    &:hover {
      background: #e9e9f0;
    }
  }
  &__sub-menu-item:hover > &__sub-menu {
    display: block;
  }
  &__sub-menu-link {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  &__sub-menu-icon {
    color: black;
  }
  &__sub-menu &__sub-menu {
    left: 100%;
    top: 0;
    display: none;
  }
}

.nv-content {
  padding: 0 15px;
}
